{% extends 'app.html'%}

{% block sideBar %}
    <div>
        <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
                </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MEDICLIN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item mb-3">
                            <i class="bi bi-person-fill"></i>
                            <a href="/usu" class="fs-5">Usuarios</a>
                        </li>
                        <li class="nav-item mb-3">
                            <i class="bi bi-file-earmark-fill"></i>
                            <a href="/ex" class="fs-5">Expedientes</a>
                        </li>
                        <li class="nav-item mb-3">
                            <i class="bi bi-calendar-week-fill"></i>
                            <a href="/citas" class="fs-5">Citas</a>
                        </li>
                        <li class="nav-item mb-3">
                            <i class="bi bi-clipboard2-fill"></i>
                            <a href="/rec" class="fs-5">Recetas</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
